<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.mapper.EngageExamMapper">
	<insert id="addEngageExam" parameterType="EngageExam">
		insert into engage_exam(exam_number,major_kind_id,major_kind_name,major_id,
		major_name,register,regist_time,limite_time) 
		values(#{exam_number},#{major_kind_id},#{major_kind_name},#{major_id},#{
		major_name},#{register},#{regist_time},#{limite_time})
	</insert>
	<update id="updateEngageExam" parameterType="EngageExam">
	update engage_exam set
		exam_number=#{exam_number},major_kind_id=#{major_kind_id},major_kind_name=#{major_kind_name},
		major_id=#{major_id},major_name=#{major_name},register=#{register},regist_time=#{regist_time},limite_time=#{limite_time} 
	</update>
	<select id="findEngageExam" resultType="EngageExam" parameterType="EngageExam">
		select exa_id,exam_number,major_kind_id,major_kind_name,major_id,
		major_name,register,regist_time,limite_time from engage_exam where 1=1
	</select>
	
	<!-- 随机产生提套 -->
	<select id="getRandomExam" parameterType="EngageExam" resultType="EngageExam">
		select exa_id,exam_number,major_kind_id,major_kind_name,major_id,
		major_name,register,regist_time,limite_time from engage_exam where 1=1
		<if test="major_id!=''">
			and major_id=#{major_id}
		</if>
		<if test="major_kind_id!=''">
			and major_kind_id=#{major_kind_id}
		</if>
		ORDER BY RAND() LIMIT 1
	</select>
	
	
</mapper>
