<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.mapper.TrainingMapper">
	<insert id="addtraining" parameterType="Training">
		insert into
		training(tra_id ,
		major_kind_name ,major_name,human_id ,
		human_name ,training_item ,training_hour ,
		training_degree ,register,regist_time,
		remark,training_time ,major_kind_id,major_id,checkstatus,checker,check_time)

		values(#{tra_id},#{major_kind_name},
		#{major_name},#{human_id},#{human_name},#{training_item},
		#{training_hour},#{training_degree},
		#{register},#{regist_time},#{remark},#{training_time}
		,#{major_kind_id},#{major_id},0,null,null)
	</insert>
	<select id="findByPage" resultType="Training">
		select * from training where  checkstatus=0 and  tra_id limit #{page},#{rows}
	</select>

	<select id="findallT" resultType="Training">
		select * from training
	</select>
	
	 <select id="find1" resultType="Training">
		select * from training where checkstatus=0  and human_id=#{human_id} 
	</select> 

	<select id="findOne" resultType="Training">
	select * from training where human_id=#{human_id}
	</select>
	
 	<update id="updateOne" parameterType="Training">
		update training set check_time=#{check_time},checkstatus=1,
		checker=#{checker} where human_id=#{human_id}
	</update>
	
	<delete id="deleteOne" parameterType="Training">
		delete from training  where human_id=#{human_id}
	</delete>
</mapper>
