<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.mapper.UsersMapper">
	<insert id="addUsers" parameterType="Users">
		insert into users(u_name,u_true_name,u_password,role)
		values(#{u_name},#{u_true_name},#{u_password},#{role})
	</insert>
	<update id="updateUsers" parameterType="Users">
		update users set u_password=#{u_password} where u_name=#{u_name} and
		u_true_name=#{u_true_name}
	</update>
	<select id="findUsers" resultType="Users">
		select u_id,u_name,u_true_name,u_password,role from users where 1=1
	</select>
	<select id="dologin" resultType="Users">
		select u_id,u_name,u_true_name,u_password,role from users where u_name=#{u_name} and u_password=#{u_password}
	</select>
</mapper>
